# This rule is not used by the project neutron-operator itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants full permissions ('*') over neutron.openstack.org.
# This role is intended for users authorized to modify roles and bindings within the cluster,
# enabling them to delegate specific permissions to other users or groups as needed.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: neutron-operator
    app.kubernetes.io/managed-by: kustomize
  name: neutronapi-admin-role
rules:
- apiGroups:
  - neutron.openstack.org
  resources:
  - neutronapis
  verbs:
  - '*'
- apiGroups:
  - neutron.openstack.org
  resources:
  - neutronapis/status
  verbs:
  - get
