# This rule is not used by the project neutron-operator itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants read-only access to neutron.openstack.org resources.
# This role is intended for users who need visibility into these resources
# without permissions to modify them. It is ideal for monitoring purposes and limited-access viewing.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: neutron-operator
    app.kubernetes.io/managed-by: kustomize
  name: neutronapi-viewer-role
rules:
- apiGroups:
  - neutron.openstack.org
  resources:
  - neutronapis
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - neutron.openstack.org
  resources:
  - neutronapis/status
  verbs:
  - get
