apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    capabilities: Basic Install
    features.operators.openshift.io/disconnected: "true"
    features.operators.openshift.io/fips-compliant: "true"
    features.operators.openshift.io/proxy-aware: "false"
    features.operators.openshift.io/tls-profiles: "false"
    features.operators.openshift.io/token-auth-aws: "false"
    features.operators.openshift.io/token-auth-azure: "false"
    features.operators.openshift.io/token-auth-gcp: "false"
    operatorframework.io/suggested-namespace: openstack
    operators.operatorframework.io/operator-type: non-standalone
  name: neutron-operator.v0.0.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: NeutronAPI is the Schema for the neutronapis API
      displayName: Neutron API
      kind: NeutronAPI
      name: neutronapis.neutron.openstack.org
      specDescriptors:
      - description: TLS - Parameters related to the TLS
        displayName: TLS
        path: tls
      - description: API tls type which encapsulates for API services
        displayName: API
        path: tls.api
      - description: Ovn GenericService - holds the secret for the OvnDb client cert
        displayName: Ovn
        path: tls.ovn
      version: v1beta1
  description: Neutron Operator
  displayName: Neutron Operator
  icon:
  - base64data: iVBORw0KGgoAAAANSUhEUgAAAHQAAABhCAYAAAAHgYUPAAABgGlDQ1BzUkdCIElFQzYxOTY2LTIuMQAAKJF1kc8rRFEUxz9maORHFMrC4qVhNeRHiY0yk4aaNI1RBpuZZ36omfF6byZNtsp2ihIbvxb8BWyVtVJESsrOmtig51yjRjL3du/53O+953TOueAIp/WMVd0HmWzODPm92mxkTnM94sRFG9AZ1S1jLBgMUHG83VCl7FWPilX53b+jfjFu6VBVKzyqG2ZOeEI4sJIzFG8Kt+qp6KLwsbDHlASFr5UeK/GT4mSJPxSb4ZAPHM3CWvIXx36xnjIzwlI57kw6r//koyppiGdnplXtsjqwCOHHi8Yk4/gYop8R2YfoYYBeOVHBv+/bf4pl8dVlNyhgskSSFDk8ouYlelxsQvS4zDQF1f+/fbUSgwOl6A1eqHmw7ZcucG3AZ9G23/dt+/MAnPdwli37L+/B8KvoxbLm3oWmNTg5L2uxLThdh/Y7I2pGvyWnLEciAc9H0BiBlkuomy/17Oeew1sIr8pXXcD2DnTL+6aFL/t3Z7W8f5ShAAAOH0lEQVR42u1deZhVtRWXXRFBxcxMmGGYwyxvFmDYRikiqHUpFcUFxY+6ILgAXVAoqB8gRVFEK8NSUZZKqQviV5eqSEWsyCYqQkVlEbTWIlgquyKy3X7RczEcT5L74A2+e3v/yD/vJHlJfjfJ2XOM53nHxCU6JV6EGNC4xID+iAWkqAlS5GCpHQMafkAfBCk8LH+JAQ0/oI9rgM6NAY0BjQGNAY0BjQGNAQ0M6LMaoItjQMMN5vUgxV4N0AMgxe0xoOEDshpIca8GJC1TlXwaAxoOMI8FKZ6ygOmXV0CKBjGg6Q1mBkjxRgAw/fIBSJEXA5qeYJaAFB8nAaZfPgcpTo0BTS8wzwYpthKgtoAUt4IUG7TftoEUA0CKz0jdXSDFZTGgPz6Qx4EUD4AU+wlAy0EKMMmhIEUmSPE6s1v/GPZ7Ncxgng5SrGFAma6AdikW0Aozhmn/b5Cicwzo0QOyLkgxltmV34AUfZPVFIEU3UGKLxlg/wRSnBgDWrVgdgQp1jGLvx6kaHe4qj+Qosyw29Vd2yUGNPVAngBSTEBNj0c0P1NMOwmkqA9SvE+AF5adfz9IsY8B9s8gxSkxoEcOpAJkGHKsdJE/BCnOtLQ9C6T4F9PuPyDFxZZ2bZCpou12ovbplBjQ5IFsAFLcYQBS6WZHKY2QhfMdy+xm7o6sb3FbuQ2k+Jppp+7b+0w7PQb00IU8EaT4HSNT+uVNkKKlpX0FSLGKaad26lrD72db+itEFaFnAFYd0RkxoLzKbgQK/tzirQApulra18L2e0k7xQn/HqSoA1LUACmGghR7mHt4vC7qMP3/1KJS/Apl4dzIAapMU3i39VIWjwD3Y0+QYo6BEVFlNUhxpa0vkKIUpHiHaftPkKITU78VYZT0/zrVMeYuhvvV/zAWKNEJpGgYYK0uBylWql2eloAqZoF8/W+DFO1JHbVTLlXed4b7yS8fI9g1LP9XHaQYaOhHaXxOsLStgzuXyrLqw7pL7XiHaa4bKvZN41frMAuk+AVIcTxp35JoqQ74Wq10A7TUMLknQIorQIpHLEeqfzzOVhyoy1aJ/zXPoGi/MIkxd8KdTPtRO74igM31fJDiGeaop0fykyBFD5BiEvMRqdIxHQFVE7yaUXy7ilKejwxixgIp2qJLCcfBPn04IgXKuI8YxjbHJhppfUiQYghI8UmSc/8vSNFHnTZpyxSpIwYB+toxmffw+K0ZcCfNMfSjdv01KRj3RSijcv+xCKS4IEAf6hroDFIsccxdHcmVVaFarErONQ+kmG+Z1IAAfVwAUix0LM4NKRzzxY7/Wo7XR3VHPz0sfSwDKYpDKbbgzrLdmYp5yWS+8iss3CQtd6ZwvL8O+J+KI76OMk8oR1cyopFeuodWDsUJuhZnB0gxGKQ4CRdptaWuEgtuIvf08hSOV1cibEWvwZcs41GKiV/h2PvgneiabyLUigWGi/zA8QVz8t2Lyv6p9TmE1GmcIr2xPq5KjVYOUsywyMumE2gFo12qHnZAnyUTUhqbhOPL93W2j4EUzQ33s87p9kvBOK8g/9+GqZMPUjwMUux2jF2dJK2ZD/qN0Kv+QIrhZLLHa7TOqFniFuV+R786szQ7BeN8VOtvpaPuIMOY19M7Eq8Un/5QFADtSiZdzijUucWZ59AU9dHq7j4SEQA1R5u1/oY46j9nGPOFpF4mod8UBUCbkEl1I/Qsy9E1wtLvyeTOu+8IxjiY3Nl5lrq/sYy3JanbgdBPi4S1hdg1b2MsJTbG4ixLv38lu7TJYYytIVFJLnQYv7+xjLcxqd+T6ImPiwqgr+mKc4a+3bJIm+gxrbW7kOqNCf0ckGIiSPEucteTmWNxPOmjp+G/CkCKTx3M0HGkzd0abVVk7KGooPcnNp+hf+RYqC0m0xZabvTjsgKVE3dbvBYmoFdCITm2X+VMdWgM2OAY41dMu5ka/e9RAnSizgky9DeJ704xSDGNUUBw9k2Bu9iv90nA+JZlRImxgzuy0X66ibRVolgu+vAeVDIwbd/W6M9ECdB7dFmUoc/S6Bs1600lY68cyajcLjEDl7GnQ1He4jMTsBBkhs1gcD2jghzMyJzTfO6bqCffYealu5w+EiVAKRdZjdCna/TthDaUWfx/gBQtSL3HOKAmt2uxdHNpc0+V59qVrzKAOYu5Lxcx9Sr1sRMZ+mVm3p9r9DFRAvQmsjD1CP0BfRcy7X/J3Id70Ym6paY33qnXaZGXvWdV0XdgqvJxcXOvbdPGu5hd3wj7KEY/X04TNIwZl65Tfpyh6x75w6MEaHeyOFmML5JOr2OIMDO5fcwFKW6hHhH52Rne2IKy/a9CM++1ps28yfll+wtzsrgQChWR9oKBiVIM20WGeen/N445svX++kcJ0PPJIhUQ+o2EfrLFX/ZmhyvLIaVjQd6BwYUJb0hBsXdOERxIQrn+JRoB6ljmpXPIdzCeEHp/10YJ0NMcGpVLk7GeIGc71eCfk4qiLCs5jjFQhUg/xi1Fp3eNEqDFZHKnOwzhRQH7HVUFYE5Jwrtfb3clY5nR6WdFCdDWZHJtGVcTnZ4X8Bj/tAoA3RQkmhtDLvR2vQm9MaH/PEqAnk0mV0zo1xK6sPSlvvzng4GT8c3pRXlv3NC6ZF7fNiWvn5GARSAzvgoIrGK0Sh3z0o/8WwntJNJfjygBSgX/HEIfaLKZEm/CewIYl78tJU0arXm5XflaX2Txy6JTyz9tATnvBwR1LwY+NTDMa6fJfsvcsX2jBOh1ZHInWu5CTvFQYvB53YIiz3mHiiuZ25dWlG+kYPpldZvyrfnZmdRlU3ks9CfKAN2Bu8KhOJjG0HXLzO1RAvQWskA1CX2KScmNyvYvGJFihL9zkOs9SO/VqniBCUy/3FZRtohz3sLA38FMBNwOytgQo8ILzLx1o/noKAE6QrdbMvRndKaERH3tZHxjE4yT9ME69zYr2+4C9NEWzSlg15E+cxmf4N26+EGcwBYz89IDjidFCdBxuvs/Q59PuMzqeO/S+3I8FfSx7jK93mgo8ZYUmMFUKsDJuaX0WF1Hc9KjQ9tIwvzs85UEBNAPmXm9p9FnRglQXfm+jKGvZMIk9gXxtFfiAr3zBhQlvKmNSrxlhT8E892i5t70nFJvaGExxwQNMvxHTwKquuffovc50262TXkfZkBfsH2pjL3RCwhmPWVuo/W7FDX1Hm5U8m15LKfUe7FJM29Wk2bejMZlB3+/PJHP/c92U0Q2AyrnP1zD4g2xNEqA6r6pI5moNZsD89CAdtZDysCixEHwaFG7syA70/R/kwJ6GnIlw+JQVuVO1kfL66+BzWcHvfdMC/Q3U/Q2plHdYWpbmJPlXZUo8CbmfA/kQ9klXq9EoZdoLF2yZ8OA7jS0lJK6nY9mGMTRArSTQ49baMmSmWnplyr01ZF4JzWBqZ3YPj/X65DfxCvMYXflWEbxcYMjZMLkA9XRMbfuUQC0P5lUJlmc6YbFGe7odybxWK+Gv3fDqGkvQIxmbwNHOtfx3/0MfT6vBx2jtkiP7h4VBUCnUX8iFDV6G7QyetKLSwxeeMcT0CYy/rO2HAgf0chszK2giyYm5uhcQ9INPWrtZl95QnL4zo4CoDTOU7lXLk3C+rESj9NaFg+I8wz/nYXZRiZgkFEPk60VPwJW94ofYLfDGPcwskM3hhpQJagHDB1cgl4LsxyxmP3xmJ5DQvJrpWi8ulvmW3gS9DYkdtRjcG5E60wQoLPCDGhLx+Q+w0Qb1UibmUl4I8xI4Xj/kMQOnMWk7elqyBaql5+FGVCbR8GTnJlMa1uE2Un2HMUcC5cECOKd6UhPV5u8iMjlUKoeKkDRQ2GBY3GmUndOQ1+5eAfuMvSjjsbsFIy5oSWv3x78uIoC9HOs480Y32v/jDCkhsvELzDocbkDmZVWAfMBjjIENm09Eo8A5R5iiF3ZhR9TboA+itERe3MSx/bMVOcITCWY0rDYm/BhnC8ck3sLGZC6ARJxDGXMav4CnZxkTqVJTD/KyjPalWkTA4V7GB4koDripwnTpX80iXQEtIg5psZoRuhamPzwCUOOd33yYwIsZlNDHqQNQR4BwEcI1hnCLJoH+Kjucnyku9HO283P7YvG8zuZ66Nduh65Puv+ku2rw53RA7Ob7LE4Ot9r23EoHw4y+Bk9bPBNqo39cokb73YkbqyHp8NWC9M0F7ORNnBEtT+l3afV0hXQujSIKCAz0oeo3uiOHW7KPo19NKNGbs1o3V6r1wKDf7l05+0cLpu/teQhWofaoawk515mm1eoM1praUtXGBbtC9yNtSye7CMZU9x+ZGxGM+H0B1D2rGs5AfpYgn3Xogtq2rx0mI755hWwlxl2koe/VzjCLtYE4DAVg3KuI4XrYkNbtaOvsWVpiQHlgb0UmRTurqo0KSbw6J9gCcl/1PI0SG10auOSY6xBzVaNdF23MLzZUg2zZK4zWGTOc+SK30Y4z8ss9X9isNIoFeVV6QxkqB7i0XbdOMOum2a5B2e4Elfg/VtpUIiE6smsML591sGQTm4FjTv1gr191shwV64/WgFG/9eAevZnJrcxeYiMgKJ7zOdRenYylICSO281I4rc5Vs0LM9NDmCS/6vwxPPDvCahBlSzbjxo8BhsSnIWfYjWmycNUdv1w74eoQeUpBffd5hBviOisg6RAdT7/uWjnUkAqWTNq6O0BpECVHNhWR8AzM2pfAAnBrRqQc12vCqxLmhijhjQ9AG1HprnKJgLw/JabwzoD0GtQV45WmtLJBUDGg5QHw8a4hADGgMaAxoDGgMaAxoDakyM/EoMaPgBbYqK+IEu98wY0LjEgMYlBjQuSZT/ATmGAHCRnWbdAAAAAElFTkSuQmCC
    mediatype: image/png
  install:
    spec:
      deployments: null
    strategy: ""
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: true
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - OpenStack
  - Network
  - Neutron
  links:
  - name: Neutron Operator
    url: https://github.com/openstack-k8s-operators/neutron-operator
  maturity: alpha
  provider:
    name: Red Hat Inc.
    url: https://redhat.com/
  version: 0.0.0
